.header__container {
  width: fit-content;
  border-radius: var(--border-radius);
  /* gap: 12px; */
  display: flex;
}

.red {
  color: red;
}

.play {
  color: var(--arc-palette-foregroundSecondary);
}
