.header__container {
  margin: 12px 0;
  width: fit-content;
  border-radius: var(--border-radius);
  /* gap: 12px; */
  display: flex;
}

.red {
  color: red;
}

.play {
  color: var(--arc-palette-foregroundSecondary);
}

span {
  height: 100%;
  width: 100%;
  font-size: 26px !important;
}
