.form__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: fit-content;
  position: relative;
}

.form__wrapper input {
  box-sizing: border-box;
  /* padding: 12px; */
  padding-left: 12px;
  padding-right: 12px;
  height: 30px;
  min-width: 300px;
  flex: 1;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
}

/* .form__wrapper button {
  position: absolute;
  right: 0;
} */

.form__wrapper input:focus {
  outline: solid 1.5px var(--arc-palette-cutoutColor) !important;
}
