.stepitem__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px 12px;
  /* border-radius: var(--border-radius); */
}

.stepitem__container:hover {
  transition: all 0.3s;
  /* box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px; */
  background-color: var(--border-color);
}

.stepitem__container .divider {
  position: absolute;
  left: 12px;
  bottom: 0;
  right: 12px;
}

.sub_content {
  font-size: 12px;
  color: var(--arc-palette-subtitle);
}

.grey {
  background-color: gray !important;
}

.green {
  background-color: var(--arc-palette-foregroundTertiary) !important;
}
