.sizeBar__wrapper {
  display: flex;
  padding: 12px 0;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--title-bar-height));
  width: var(--side-bar-height);
  background-color: #fafafc;
  box-sizing: border-box;
}

.top_sizeBar_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.sizeBar__wrapper button {
  padding: 6px;
}

button:hover {
  background-color: #c5c5c56a;
}

.active {
  background-color: antiquewhite;
}
