.sizeBar__wrapper {
  display: flex;
  padding: 12px 0;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--title-bar-height));
  width: var(--side-bar-height);
  background-color: #fafafc;
  box-sizing: border-box;
}
