:root {
  --border-radius: 12px;
}

html {
  position: fixed;
  left: 0;
  right: 50%;
}

body {
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  border: 0;
  border-radius: var(--border-radius);
  padding: 12px;
  background-color: transparent;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.buttonView__wrapper {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row-reverse;
}
.commands__wrapper {
  background-color: bisque;
  flex: 1;
}
.controllers__wrapper {
  margin: 2rem;
}
