:root {
  --border-radius: 12px;
  --border-color: #e5e5e5;
  --arc-palette-cutoutColor: #6f00eeff;
  --arc-palette-minContrastColor: #6f00eeff;
  --arc-palette-focus: #882cf0ce;
  --arc-palette-subtitle: #7b777fff;
  --arc-palette-foregroundPrimary: #f6eeffff;
  --arc-palette-backgroundExtra: #0f0023ff;
  --arc-palette-foregroundSecondary: #b878ffff;
  --arc-palette-foregroundTertiary: #8417ffff;
  --arc-palette-maxContrastColor: #f6eeffff;
  --arc-palette-hover: #923ef07a;
  --arc-palette-background: #200047ff;
  --arc-background-simple-color: #8417ffff;
  --arc-palette-title: #e8d7fbff;
}

html {
  position: fixed;
  left: 0;
  right: 50%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 0;
}

h3 {
  margin-bottom: 0;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  border: 0;
  border-radius: var(--border-radius);
  padding: 12px;
  background-color: transparent;
}

select {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  padding: 0 8px;
  margin: 8px 0;
}

textarea {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  padding: 8px;
  margin: 8px 0;
}

.divider {
  background-color: var(--border-color);
  height: 1px;
  width: 97%;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header__wrapper {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.commands__wrapper {
  margin: 0 16px;
  padding: 0 16px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  flex: 1;
}
.controllers__wrapper {
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -ms-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: var(--border-radius);
  box-shadow: 0px -5px 10px 0px var(--border-color);
  padding: 2rem 16px;
}

.controllers__wrapper .collapse_btn {
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.controllerItem__wrapper {
  display: flex;
  flex-direction: column;
}

.shrink {
  max-height: 0px; /* Set a smaller value to shrink the element */
}

.expand {
  max-height: 1000px; /* Set back to a large value to expand the element */
  padding-bottom: 2rem;
}

@keyframes hideAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changePaddingBottomAnimation {
  0% {
    padding-bottom: 2rem; /* Initial padding-bottom value */
  }
  100% {
    padding-bottom: 8px; /* Final padding-bottom value */
  }
}

.change-padding-bottom {
  animation: changePaddingBottomAnimation 0.1s ease 0.2s forwards; /* Apply the animation with a 1-second delay */
}

.hide {
  animation: hideAnimation 0.1s ease 0.2s forwards; /* Apply the animation with a 1-second delay */
}

.searchbar__wrapper {
  position: fixed;
  right: 0;
  left: 50%;
  height: 100vh;
}

.message__wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
}

.message__wrapper h2 {
  color: var(--arc-palette-subtitle);
}
